@font-face {
  font-family: "Archivo Black";
  src:
    url("./fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("./fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-background: #111111;
  --color-text: #ffffff;
  --accent-color: #6d6dff;
  --linear-gradient: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  --font-primary: "Archivo Black", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --h1-font-size: 72px;
  --h2-font-size: 40px;
  --h3-font-size: 24px;
  --line-height-headings: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
}

h1 {
  font-family: var(--font-primary);
  font-size: var(--h1-font-size);
  line-height: var(--line-height-headings);
  margin: 0;
}

h2 {
  font-family: var(--font-primary);
  font-size: var(--h2-font-size);
  line-height: var(--line-height-headings);
}

h3 {
  font-family: var(--font-secondary);
  font-size: var(--h3-font-size);
  line-height: var(--line-height-headings);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-secondary);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: flex-start;
  padding-top: 4%;
  gap: 40px;
  padding-left: 8%;
  padding-right: 8%;
}

.header__subtitle {
  color: #ffffff80;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-picture {
  width: 387px;
  height: 500px;
  object-fit: cover;
}

.portfolio__actions {
  display: flex;
  gap: 30px;
}

.portfolio__actions:hover {
  color: #ffffff50;
}

.skills {
  padding-bottom: 100px;
}

.skills__icons {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.projects {
  padding-bottom: 100px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  width: 100%;
  overflow: hidden;
  background-color: #1c1c1c;
  border-radius: 16px;
}

.project-card__image img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.project-card__image {
  position: relative;
}

.project-card__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.project-card__body {
  padding: 30px;
}

.project-card__techs {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.footer {
  padding: 60px 0;
  position: relative;
}

.footer::before {
  top: 50%;
  transform: translateY(-50%);
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #131385;
  filter: blur(150px);
  left: calc(50% - 500px); /* Centra el círculo de fondo */
  z-index: -1;
}

.footer::after {
  top: 50%;
  transform: translateY(-50%);
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #131385;
  filter: blur(100px);
  left: calc(
    50% + 200px
  ); /* Posiciona el segundo círculo a la derecha del primero */
  z-index: -1;
}

.footer__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.footer__social {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}

.footer__link {
  color: #6d6dff;
}

.footer__link:hover {
  color: #6d6dff50;
}
